.share-content-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.goat-modal-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
  margin-bottom: 12px;
}

#shareableContent {
  width: 200px;
  font-size: 18px;
  margin: auto;
}

.goat {
  font-size: 150px;
}

.goat-text {
  font-size: 24px;
  margin-bottom: 42px;
}
